@using ToDoEf.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    Layout = null;
}
@model IEnumerable<ToDoEf.Models.ToDoGroup>

<html>
    <head>
    <title>Entity framework ToDo Home Page</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    </head>
    <body>
    <h1>List of ToDo groups</h1><br />
    <p>
        <a asp-action="Create">Create New ToDo group</a>
    </p>
        <table>
            <tr>
            <th> @Html.DisplayNameFor(model=>model.Name)</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=>item.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="ToDoItems" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                </tr>

            }
        </table>
    </body>
</html>